@page
@model G1_Food_SellingStaff.Pages.DashboardModel
@{
    ViewData["Title"] = "Home page";
}

<body id="page-top">
    <div class="row">
        @if(Model.Orders != null)
        {
            foreach(var item in Model.Orders)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                    <div class="card border-left-main shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center position-relative">
                                <div class="col mr-2">
                                    <div class="px-2 py-1">

                                        <div class="d-flex justify-content-center">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>

                                        <div class="d-flex mt-1">
                                            <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Mã đơn:
                                            </div>
                                            <div class="col-md-10 text-xs text-dark p-0">
                                                @{
                                                    var id = new string(item.Id.ToString().Skip(Math.Max(0, item.Id.ToString().Length - 12)).ToArray()).ToUpper();
                                                }
                                                @id
                                            </div>
                                        </div>

                                        <div class="d-flex">
                                            <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Tên:
                                            </div>
                                            <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                                @item.Username
                                            </div>
                                        </div>

                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Món đã đặt:
                                        </div>
                                    </div>
                                    @{
                                        int itemCount = 0;
                                        decimal price = 0;
                                        decimal price_sale = 0;
                                        decimal price_after_discount = 0;
                                        decimal price_before_discount = 0;
                                        decimal discount = 0;
                                    }
                                    @foreach(var detail in item.Details)
                                    {
                                        itemCount++;
                                        bool isOdd = itemCount % 2 != 0;

                                        <div class="@(isOdd ? "background-primary" : "") border-radius-1">
                                            <div class="px-2 py-1">
                                                <div class="d-flex">
                                                    <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                                        @detail.ProductName
                                                    </div>
                                                    <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                                        Số lượng: @detail.Quantity
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                                        Giá:
                                                    </div>
                                                    <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0 text-right ">
                                                        @{
                                                            decimal temp = (decimal)((detail.Price * detail.SalePercent / 100) * (decimal)detail.Quantity);
                                                            price_sale = (decimal)(detail.Price * (decimal)detail.Quantity);
                                                            price = price_sale - temp;
                                                            price_before_discount += price;
                                                        }
                                                        @string.Format("{0:N0} VND", price)
                                                        @string.Format("{0:N0} VND", price_sale)
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                                        Ghi chú:
                                                    </div>
                                                    <div class="col-md-9 text-xs text-dark font-italic mb-1 p-0">
                                                        @detail.Note
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                    <div class="px-2 py-1">
                                        <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                            Phải thanh toán:
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Tổng giá:
                                            </div>
                                            <div class="col-md-8 text-xs text-dark font-weight-bold mb-1 p-0 text-right">
                                                @string.Format("{0:N0} VND", price_before_discount)
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Giãm giá:
                                            </div>
                                            <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                                @{
                                                    discount = price_before_discount * item.SalePercent / 100;
                                                }
                                                @string.Format("{0:N0} VND", discount)
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                                Thành tiền:
                                            </div>
                                            <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                @{
                                                    price_after_discount = price_before_discount - discount;
                                                }
                                                @string.Format("{0:N0} VND", price_after_discount)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <form method="post">
                                            <div class="py-1">
                                                <input type="hidden" name="orderID" value="@item.Id">
                                                <button class="btn sm">Đã giao</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            }
        }
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="./js/orderHub.js?v=1.3"></script>
</body>
