@page
@model G1Food_Cashier.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row order-pending">
            @if(Model.Orders != null)
            {
                @foreach(var item in Model.Orders)
                {
                    <div class="col-xl-4 col-md-12 mb-4">
                        <div class="card border-left-main shadow h-100 py-2">
                            <div class="card-body-cashier">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="px-2 py-1">
                                            <div class="d-flex">
                                                <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    ID:
                                                </div>
                                                <div class="col-md-10 text-xs text-dark p-0">
                                                    @{
                                                        var id = new string(item.Id.ToString().Skip(Math.Max(0, item.Id.ToString().Length - 12)).ToArray()).ToUpper();
                                                    }
                                                    @id
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Tên:
                                                </div>
                                                <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                                    @item.Username
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Ghi chú:
                                                </div>
                                                <div class="col-md-9 text-xs text-dark mb-1 p-0">
                                                    @item.Note
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Mã giảm giá:
                                                </div>
                                                <div class="col-md-8 text-xs text-dark mb-1 p-0">
                                                    @item.SalePercent %
                                                </div>
                                            </div>
                                        </div>
                                        @{
                                            int itemCount = 0;
                                            decimal price = 0;
                                            decimal price_sale = 0;
                                            decimal price_after_discount = 0;
                                            decimal price_before_discount = 0;
                                            decimal discount = 0;
                                        }

                                        @foreach (var detail in item.Details)
                                        {
                                            itemCount++;
                                            bool isOdd = itemCount % 2 != 0; 

                                            <div class="@(isOdd ? "background-primary" : "") border-radius-1">
                                                <div class="px-2 py-1">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 text-xs font-weight-bold text-dark mb-1 p-0">
                                                            @detail.ProductName
                                                        </div>
                                                        <div class="col-md-2 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                            @detail.Quantity
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="col-md-3 text-xs text-dark mt-note mb-1 p-0">
                                                            Ghi chú:
                                                        </div>
                                                        <div class="col-md-9 text-xs text-dark font-italic mt-note mb-1 p-0">
                                                            @detail.Note
                                                        </div>
                                                    </div>
                                                    <div class="text-xs text-dark font-weight-bold mb-1 p-0 mt-note text-right">
                                                        @{
                                                            decimal temp = (decimal)((detail.Price * detail.SalePercent / 100) * (decimal)detail.Quantity);
                                                            price_sale = (decimal)(detail.Price * (decimal)detail.Quantity);
                                                            price = price_sale - temp;
                                                            price_before_discount += price;
                                                        }
                                                        @string.Format("{0:N0} VND", price)
                                                        @string.Format("{0:N0} VND", price_sale)
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        
                                        <div class="px-2 py-1">
                                            <div class="d-flex">
                                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Tổng giá gốc:
                                                </div>
                                                <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                                    @string.Format("{0:N0} VND", price_before_discount)
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Giá giảm:
                                                </div>
                                                <div class="col-md-8 text-xs text-dark mb-1 p-0 text-right">
                                                    @{
                                                        discount = price_before_discount * item.SalePercent / 100;
                                                    }
                                                    @string.Format("{0:N0} VND", discount)
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="col-md-4 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Thành tiền:
                                                </div>
                                                <div class="col-md-8 text-xs font-weight-bold text-dark mb-1 p-0 text-right">
                                                    @{
                                                        price_after_discount = price_before_discount - discount;
                                                    }
                                                    @string.Format("{0:N0} VND", price_after_discount)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <form method="post">
                                                <div class="py-1">
                                                    <input type="hidden" name="formType" value="reject">
                                                    <input type="hidden" name="orderID" value="@item.Id">
                                                    <button class="btn sm">Từ chối</button>
                                                </div>
                                            </form>

                                            <form method="post">
                                                <div class="py-1">
                                                    <input type="hidden" name="formType" value="confirm">
                                                    <input type="hidden" name="orderID" value="@item.Id">
                                                    <button class="btn sm bg-success">Xác nhận</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="./js/orderHub.js?v=1.3"></script>
</body>
