@page
@model G1Food_User.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}
<head>
    <link rel="stylesheet" href="~/css/cart.css" type="text/css" asp-append-version="true" />
</head>
<body>

    <main class="container-fluid mt-content bg-main">
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-12 mt-5">
                    <table class="table table-hover table-bordered text-center">
                        <thead class="align-middle">
                            <tr>
                                <th>STT.</th>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh</th>
                                <th>Số lượng</th>
                                <th>Giảm</th>
                                <th>Gía</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                double cartTotal = 0;
                                int no = 1;
                                if(Model.Carts != null)
                                {
                                    if (@Model.Carts.Count() > 0)
                                    {
                                        foreach (var cart in Model.Carts)
                                        {
                                            <tr>
                                                <td class="align-middle product-no bold">@no</td>
                                                <td class="align-middle product-name">
                                                    <a href="/ProductDetail?productID={@cart.ProductId}">@cart.Name</a>
                                                </td>
                                                <td class="align-middle product-img">
                                                    <img src="@cart.Image" alt="">
                                                </td>
                                                <td class="align-middle product-quanity">
                                                   <form asp-page="UpdateCart" method="get">
                                                    <div class="quantity-group justify-content-center">
                                                        <button  
                                                                type="submit"
                                                                class="btn-decrease-quantity"
                                                                id="btn-decrease"
                                                                onclick="decreaseQuantity(this)">
                                                            -
                                                        </button>
                                                            <input name="quantity" type="number" id="quantity-input" value="@cart.Quantity" min="1" />
                                                            <input class="d-none" name="cartID" type="text" value="@cart.Id" min="1" />
                                                        <button type="submit"
                                                                class="btn-increase-quantity"
                                                                id="btn-increase"
                                                                onclick="increaseQuantity(this)">
                                                            +
                                                        </button>
                                                    </div>
                                                   </form>
                                                </td>
                                                @{
                                                    if (@cart.SalePercent != 0)
                                                    {
                                                        <td class="align-middle product-discount">- @cart.SalePercent%</td>
                                                    } else
                                                    {
                                                        <td class="align-middle product-discount">Chưa giảm giá</td>
                                                    }
                                                }

                                                <td class="align-middle product-total bold main-color">
                                                    @{
                                                        var price = (cart.Price - (cart.Price * (decimal)cart.SalePercent / 100)) * (decimal)cart.Quantity;
                                                        @string.Format("{0:N0} VND", price);
                                                        cartTotal += (double)price;
                                                        no += 1;
                                                    }
                                                </td>
                                                <td class="align-middle product-total bold main-color">
                                                    <a asp-page="DeleteCart" asp-route-cartID="@cart.Id"><i class="fa-solid fa-trash-can main-color"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7" class="text-center product-img p-4">
                                                <img src="~/img/no_product.png" alt="no-product">
                                                <div class="bold fs-md">Chưa có sản phẩm</div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row justify-content-end mt-4 align-items-end">
                <div class="col-sm-12 col-lg-8">
                    <a class="btn" href="./Index">
                        Quay lại
                        <i class="fa-solid fa-left-long"></i>
                    </a>
                </div>
                <div class="col-sm-12 col-lg-4 mt-4">
                    <div class="d-flex justify-content-between">
                        <span class="bold">Tạm tính:</span>
                        <span>
                            @{
                                @string.Format("{0:N0} VND", @cartTotal) 
                            }
                        </span>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <span class="bold">Thuế:</span>
                        <span class="bold total-money">+ 0 VND</span>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <span class="bold">Tổng cộng:</span>
                        <span class="main-color bold total-money">
                            @{
                                @string.Format("{0:N0} VND", @cartTotal)
                            }
                        </span>
                    </div>
                    <a asp-page="/Paying" class="btn full mt-4">Thanh toán</a>
                </div>
            </div>
        </div>
    </main>
    <script src="~/js/handleQuantity.js" type="text/javascript" asp-append-version="true"></script>
</body>